<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.teknologi.teknologiid">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.thread_detail.ThreadDetailActivity" />
        <activity android:name=".feature.thread.ThreadActivity" />
        <activity android:name=".feature.thread_new.ThreadNewActivity"/>
        <activity android:name=".feature.thread_new.ThreadNewActivity2"/>
        <activity android:name=".feature.pekerjaan.PekerjaanActivity" />
        <activity android:name=".dummy_activity.Pekerjaan"/>
        <activity android:name=".feature.pekerjaan_detail.DetailPekerjaanActivity" />
        <activity android:name=".feature.login_register.RegisterActivity" />
        <activity android:name=".feature.login_register.LoginActivity" />
        <activity android:name=".feature.login_register.PrevLoginRegistActivity" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <activity android:name=".feature.Question.QuestionListActivity">
        </activity>
        <activity android:name=".feature.Question.QuestionDetailActivity">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5654d30e8fca327d371a3421402897bd4c58d5db" />

        <activity android:name=".feature.profile.ProfileActivity"/>
    </application>

</manifest>